<div class="border-post-div">
<h1>Edit The Post</h1>

	<%= form_for [@topic,@post] do |f| %>

	  <%= f.label :content%>
	  <%= f.text_field :content %>	 

	  <div><%= f.submit "update", class: "btn btn-large btn-primary"%></div>
	<% end %>

</div>
