<script type="text/javascript">
  $(document).ready(function() {  	
    $('.border-form-div').fadeIn("slow");
  });
</script>

<div class='border-form-div'>
  <h2>Edit Post </h2>
  <%= form_for [@topic,@post] do |f| %>
    <div>
      <%= f.label :content%></br>
      <%= f.text_area :content, cols: 30, rows: 5 %>	 
    </div>
	<div><%= f.submit "update", class: "btn btn-large btn-primary"%></div>
  <% end %>
</div>
 