@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body css */

body {
  padding-top:100px;
  background-size: 2000px 960px;
  background-image: url("background.jpg");  
  color: #000;
  margin:0 auto;
  background-color:white;
  margin-top:-35px;
  text-align: center;
  margin-left:50x;
  margin-right:-20px;  
}


/*css for some headers*/

#header {
  color:white;
  font-family: serif;
  font-style: italic;
}



/*css for the header*/

#logo {
		float:left;		
		letter-spacing: +1px;
    text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5em;
		margin-left:200px;
    margin-top:10px;
    color:black;
}

#logo:hover {	
	text-decoration:underline;
}

#dropdown {
  text-transform: uppercase;
    font-weight: bold;
}

.navbar-fixed-top{
	background-color:#00ffff;	
}

.navbar-inner {
	padding-top:12px;
	padding-bottom:7px;
	margin-right:-40px;
}

/*styling center hero unit*/

#center_unit {
	margin-top:20px;
	margin-left:0;
	margin-right:-10px; 
  font-style: italic;
  font-family:fantasy;
}

#welcome {
  display:none;
}

/*different background for the home page*/

#home{
    background-repeat: no-repeat; 
    background-image: url("home.jpg");  
    background-size: 2000px 1000px;
}

/*Table css*/

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F0F8FF;
 }


table {
    table-layout: fixed; /* This enforces the "col" widths. */  
}

table th, table td {
    overflow: hidden;
    white-space: nowrap;
}

table thead {
  background-color: white;
}

#label { 
  color:white;
  margin-bottom:10px;
  margin-top:10px;
}

a:link { 
  color: black;
  text-color:black;
}

a:hover { 
  color: black;
}

section {
  overflow: auto;
}  

.border-post-div {
  max-width: 1000px;

  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #F0F8FF;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
          margin-top:20px;
}

  .border-form-div {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #F0F8FF;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-top:20px;

}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
} 

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  input {
   border: 2px solid red
  };
  text-align:center;
}

#error_explanation {
 
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
  width:400px;
    @include box_sizing;
} 

/*some styling for the posts*/
#posts_table {
  background-color:white
}

#post_content {
  text-align:center;
  font-size:17px;
  font-family:Arial;
  overflow:hidden;
}

#post_author{
  font-family:arial;
  font-style: italic;  
  margin-bottom:15px;
}

/*css for the post show method*/

#postheader{
  font-family: serif;
  font-style: italic;
  text-align:center;  
}

#postcontent{
 word-wrap: break-word;
 margin-right:25px;
}


/*css for the topics table*/


#topic_container{
  background-color:#F0F8FF;
  border-radius: 15px;
  margin-top:15px;
  margin-bottom:15px;
  padding-left:15px;
  width:95%;
}

#topic_header{
  font-size:1.5em;
  font-style:italic;
  font-family:fantasy;
  font-weight:bold;
  overflow: hidden;
  height:40px;
  border-radius:5px;
  margin-top:20px;
  border-bottom: 2px solid black;
  }

#topic_box{
  border-radius:5px;
  overflow: hidden;   
  height:40px;
  margin-top:15px;
  border-bottom: 1px solid black;
  width:97%;
}

/*css for the users table*/


#users_container{
  background-color:#F0F8FF;
  border-radius: 15px;
  margin-top:15px;
  margin-bottom:15px;
  padding-left:15px; 
}

#user_header{
   font-size:1.5em;
  font-style:italic;
  font-family:fantasy;
  font-weight:bold;
  overflow: hidden;
  height:40px;
  border-radius:5px;
  margin-top:20px;
  border-bottom: 2px solid black;
  }

#user_box{
  border-radius:5px;
  overflow: hidden;   
  height:40px;
  margin-top:15px;
  border-bottom: 1px solid black;
     }

/*css for the posts table*/


#posts_container{
  background-color:#F0F8FF;
  border-radius: 15px;
  margin-top:15px;
  margin-bottom:15px;
  padding-left:15px;
  
}

#post_header{
  font-size:1.5em;
  font-style:italic;
  font-family:fantasy;
  font-weight:bold;
  overflow: hidden;
  height:40px;
  border-radius:5px;
  margin-top:20px;
  border-bottom: 2px solid black;
  }

#post_box{
  border-radius:5px;
  overflow: hidden;   
  height:40px;
  margin-top:15px;
  border-bottom: 1px solid black;
     }

