@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body css */
body {
  padding-top:100px;
  background-size: 2000px 960px;
  background-image: url("background.jpg");  
  color: #000;
  margin:0 auto;
  background-color:white;
  margin-top:-35px;
  text-align: center;
  margin-left:50x;
  margin-right:-20px;  
}


/*header*/

#header {
  color:white;
  font-family: serif;
  font-style: italic;
}

#post_header{
  text-decoration:underline;
  font-family: serif;
  font-style: italic;
  text-align:center;
  
}

/*css for my railsforum logo*/

#logo {
		float:left;		
		letter-spacing: +1px;
    text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5em;
		margin-left:100px
}

#logo:hover {
	color:black;
	text-decoration:underline;
}

.navbar-fixed-top{
	background-color:#00ffff;	
}

.navbar-inner {
	padding-top:12px;
	padding-bottom:7px;
	margin-right:-40px;
}



#center_unit {
  /*background-image: url("background.jpg");
  background-repeat: repeat;*/
	margin-top:0;
	text-align: center;
	margin-left:0;
	margin-right:-20px;  
}


/*Table css*/

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F0F8FF;
 }


table {
    table-layout: fixed; /* This enforces the "col" widths. */  
}

table th, table td {
    overflow: hidden;
    white-space: nowrap;
}

table thead {
  background-color: white;
}



#label { 
  color:white;
}

a:link { 
  color: black;
  text-color:black;
}

a:hover { 
  color: black;
}

section {
  overflow: auto;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }   

    #sidebar-wrapper {
        width: 250px;
    }  
        
}
.my_fluid_container {
  position: fixed;
  width: 400px  ;
  height: 500px;
  left: 50%;
  top: 200px;
  margin-left: -300px; /*half the width*/
  text-align:right;
}
  

.border-post-div {
  max-width: 1000px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #F0F8FF;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


  .border-form-div {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #F0F8FF;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
} 

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  input {
   border: 2px solid red
  };
  text-align:center;
}

#error_explanation {
 
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
  width:400px;
    @include box_sizing;
} 

#posts_table {
  background-color:white
}

#post_content {
  text-align:center;
  font-size:20px;
  font-style: italic;
}

#post_author{
  font-family:arial;
  font-style: italic;  
  margin-bottom:15px;
}