<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li><%= link_to "Topics",'#' %></li>
              <li><%= link_to "Users",'#' %></li>
             

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->                

    </div>